$header-height: 55px;

.mainPageLayout {
  .header {
    height: $header-height;
    width: 100%;

    position: fixed;
  }

  .main {
    min-height: 100dvh;
    background: -webkit-linear-gradient(180deg, #95a792, #596c68);
    background: linear-gradient(180deg, #95a792, #596c68);
    .headerPlug {
      height: $header-height;
    }
  }
}
