.mainBodyContent {
  background: -webkit-linear-gradient(
    180deg,
    #95a792,
    #596c68
  );
  background: linear-gradient(
    180deg,
    #95a792,
    #596c68
  );
}


.firstBlockBody {
  width: 20%;
  font-family: "Nunito", sans-serif;

  background-color: #3f775f;

  .bodyLine {
    margin-top: 500px;
    transform: scale(1.167);
    position: absolute;
  }
  


  h1 {
    color: aliceblue;
    margin-bottom: 20px;
  }
  p {
    color: aliceblue;
  }
}

.secondBlockBody {
  padding-bottom: 10%;
  width: 30%;
  font-family: "Nunito", sans-serif;

  h1 {
    color: aliceblue;
    margin-bottom: 20px;
  }
  p {
    color: aliceblue;
  }
}
