.MoreWithMaperCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;

    // margin: 55px;
    padding: 20px 25px;
    font-family: 'Nunito', sans-serif;
    min-height: 410px;
    background-color: rgba(213, 231, 250, 0.178);

    img{
        height: 110px;
        margin-bottom: 25px;
    }
    
    .MoreWithMaperCardTitle{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .MoreWithMaperCardDesc{
        font-size: 18px;
        margin-bottom: 35px;
        padding-right: 10px;
        width: 70%;
    }

    .MoreWithMaperCardButton{
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 16px;
        padding: 10px 15px;
        border: 2px rgb(46, 46, 216) solid;
        border-radius: 5px;

        &:hover{
            background-color: rgba(165, 165, 255, 0.226);
            transition: 0.5s;
        }
    }

}