.whiteButton{
    display: flex;

    align-items: center;
    justify-content: center;
    margin-left: 80px;
    font-family: 'Nunito', sans-serif;
    color: rgb(80, 80, 80);
    background-color: #E3D9CA;
    font-size: 24px;
    height: 100%;
    width: 150px;
}