.intro {
  font-family: "Nunito", sans-serif;

// <<<<<<< HEAD
  background-image: url(../../../assets/white-wave-bg.svg);
  background-position: center bottom -0.5px;
  background-size: 130% 35%;
// =======
//   background-image: url(../../../assets/wave.svg);
//   background-position: center bottom;
//   background-size: 100%;
// >>>>>>> b448f5a907379a749b648f52ebe0c677641e2aa9
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
// <<<<<<< HEAD
  background-color: #3f775f;

  padding-bottom: 190px;
// =======

//   padding-bottom: 200px;
// >>>>>>> b448f5a907379a749b648f52ebe0c677641e2aa9

  .introContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .introText {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 32px;
        color: aliceblue;
        margin-bottom: 20px;
        // padding-top: 10px;
        width: 70%;
      }
      .introParagr {
        color: aliceblue;
        font-size: 24px;
        padding-bottom: 110px;
        width: 70%;
      }

      .introInput {
        width: 40%;
        height: 60px;
        border-radius: 15px;
        border: none;
        font-family: "Nunito", sans-serif;
        font-size: 24px;
        padding-left: 25px;
        opacity: 0.8;
        outline-color: rgba(228, 228, 228, 0.884);
        z-index: 1;
      }
    }

    .introImg {
      img {
        height: 520px;
        margin-top: 110px;
      }
    }
  }
  .introRegInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

  }
}
