.intro {
  font-family: "Nunito", sans-serif;

  background-image: url(../../../assets/wave.svg);
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;

  padding-bottom: 200px;

  h1 {
    color: aliceblue;
    margin-bottom: 20px;
  }
  p {
    color: aliceblue;
  }
}
